USE [HRISYbrs]
GO
/****** Object:  Table [dbo].[AllowedBackOfficeRoles]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllowedBackOfficeRoles](
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnouncementDistributions]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnouncementDistributions](
	[AnnouncementDistributionId] [int] IDENTITY(1,1) NOT NULL,
	[AnnouncementId] [int] NULL,
	[AnnouncementEmployeeId] [int] NULL,
 CONSTRAINT [PK_AnnouncementDistributions] PRIMARY KEY NONCLUSTERED 
(
	[AnnouncementDistributionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementId] [int] IDENTITY(1,1) NOT NULL,
	[AnnouncementTitle] [varchar](255) NULL,
	[AnnouncementDescription] [varchar](4000) NULL,
	[PublishDate] [datetime2](7) NULL,
	[AnnouncementTags] [varchar](255) NULL,
	[AnnouncementFilePath] [varchar](500) NULL,
	[AnnouncementFileName] [varchar](255) NULL,
	[AnnouncementCategoryType] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsSentEmail] [bit] NULL,
	[FilterCode] [varchar](25) NULL,
	[FilterValue] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY NONCLUSTERED 
(
	[AnnouncementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApprovalLines]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApprovalLines](
	[ApprovalLineId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[ApprovalLineCode] [varchar](50) NULL,
	[ApprovalLineOrder] [int] NULL,
	[ApproveBy] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ApprovalLines] PRIMARY KEY NONCLUSTERED 
(
	[ApprovalLineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArchiveFiles]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchiveFiles](
	[ArchiveFileId] [int] IDENTITY(1,1) NOT NULL,
	[ArchiveId] [int] NOT NULL,
	[ArchiveFileName] [varchar](400) NULL,
	[ArchiveFilePath] [varchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArchiveFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archives]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archives](
	[ArchiveId] [int] IDENTITY(1,1) NOT NULL,
	[ArchiveDate] [datetime] NULL,
	[Category] [varchar](50) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Description] [varchar](4000) NULL,
	[EmployeeId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ArchiveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceHistories]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceHistories](
	[AttendanceHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceId] [int] NULL,
	[AttendanceDate] [datetime2](7) NULL,
	[ShiftId] [int] NULL,
	[EmployeeId] [int] NULL,
	[ClockIn] [varchar](10) NULL,
	[ClockOut] [varchar](10) NULL,
	[TimeOffPolicyId] [int] NULL,
	[Description] [varchar](4000) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_AttendanceHistories] PRIMARY KEY NONCLUSTERED 
(
	[AttendanceHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLocations]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLocations](
	[AttendanceLocationId] [int] IDENTITY(1,1) NOT NULL,
	[TimeZoneId] [int] NULL,
	[LocationName] [varchar](255) NULL,
	[IsFlexible] [bit] NULL,
	[Latitude] [numeric](11, 8) NULL,
	[Longitude] [numeric](11, 8) NULL,
	[RadiusToleranceInMeter] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_AttendanceLocations] PRIMARY KEY NONCLUSTERED 
(
	[AttendanceLocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceLogs]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceLogs](
	[AttendanceLogId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceTypeId] [int] NULL,
	[ShiftId] [int] NULL,
	[TimeZoneId] [int] NULL,
	[AttendanceLocationId] [int] NULL,
	[EmployeeId] [int] NULL,
	[AttendanceLogDate] [datetime2](7) NULL,
	[Clock] [varchar](10) NOT NULL,
	[Latitude] [numeric](11, 8) NULL,
	[Longitude] [numeric](11, 8) NULL,
	[SelfiePath] [varchar](255) NULL,
	[ClockViaType] [varchar](100) NULL,
	[InOut] [varchar](1) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[LateIn] [varchar](10) NULL,
	[EarlyOut] [varchar](10) NULL,
	[Note] [varchar](1000) NULL,
	[ActionDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AttendanceLogs] PRIMARY KEY NONCLUSTERED 
(
	[AttendanceLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[TimeZoneId] [int] NULL,
	[AttendanceTypeId] [int] NULL,
	[EmployeeId] [int] NULL,
	[AttendanceLocationId] [int] NULL,
	[AttendanceDate] [datetime2](7) NOT NULL,
	[ClockIn] [varchar](10) NULL,
	[ClockOut] [varchar](10) NULL,
	[LateIn] [varchar](10) NULL,
	[EarlyOut] [varchar](10) NULL,
	[LatitudeIn] [numeric](11, 8) NULL,
	[LongitudeIn] [numeric](11, 8) NULL,
	[LatitudeOut] [numeric](11, 8) NULL,
	[LongitudeOut] [numeric](11, 8) NULL,
	[SelfieInPath] [varchar](255) NULL,
	[SelfieOutPath] [varchar](255) NULL,
	[ClockInViaType] [varchar](100) NULL,
	[ClockOutViaType] [varchar](100) NULL,
	[AttendanceCode] [varchar](20) NULL,
	[TimeOffPolicyCode] [varchar](20) NULL,
	[ScheduleWorkingHour] [varchar](10) NULL,
	[ActualWorkingHour] [varchar](10) NULL,
	[RealWorkingHour] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsClockOutOverlapDay] [bit] NULL,
	[ClockInNote] [varchar](1000) NULL,
	[ClockOutNote] [varchar](1000) NULL,
	[TimeOffPolicyId] [int] NULL,
	[ActionDateClockIn] [datetime2](7) NULL,
	[ActionDateClockOut] [datetime2](7) NULL,
 CONSTRAINT [PK_Attendances] PRIMARY KEY NONCLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceTypes]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceTypes](
	[AttendanceTypeId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceTypeCode] [varchar](20) NULL,
	[AttendanceTypeName] [varchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_AttendanceTypes] PRIMARY KEY NONCLUSTERED 
(
	[AttendanceTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branches]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[CompId] [int] NULL,
	[TimeZoneId] [int] NULL,
	[BranchName] [varchar](100) NOT NULL,
	[CompanyName] [varchar](255) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Branches] PRIMARY KEY NONCLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassCode] [varchar](50) NULL,
	[Description] [varchar](1000) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY NONCLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[CompId] [int] IDENTITY(1,1) NOT NULL,
	[CompName] [varchar](150) NULL,
	[CompAddress] [varchar](500) NULL,
	[CompZipCode] [varchar](10) NULL,
	[CompPhoneNumber] [varchar](20) NULL,
	[CompMobileNumber] [varchar](25) NULL,
	[CompEmail] [varchar](50) NULL,
	[CompWebsite] [varchar](50) NULL,
	[CompImagePath] [varchar](300) NULL,
	[CompRetirementAge] [int] NULL,
	[PersentasePendapatanBPJSTKPemberiKerja] [float] NULL,
	[PersentasePendapatanBPJSKSPemberiKerja] [float] NULL,
	[PersentasePenguranganBPJSTKPemberiKerja] [float] NULL,
	[PersentasePenguranganBPJSKSPemberiKerja] [float] NULL,
	[PersentasePenguranganBPJSTKPekerja] [float] NULL,
	[PersentasePenguranganBPJSKSPekerja] [float] NULL,
	[CompanyPrevMonthDayPayroll] [int] NOT NULL,
	[CompanyCurrentMonthDayPayroll] [int] NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY NONCLUSTERED 
(
	[CompId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataChangeApprovalRequests]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataChangeApprovalRequests](
	[DataChangeRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NULL,
	[RequestedDate] [datetime2](7) NULL,
	[RequestEmployeeId] [int] NULL,
	[LastApprovalEmployeeId] [int] NULL,
	[ApprovalStatus] [varchar](100) NULL,
	[TotalStep] [int] NULL,
	[Description] [varchar](1000) NULL,
	[DataChangeCode] [varchar](255) NULL,
	[OldValueText] [varchar](255) NULL,
	[NewValueText] [varchar](255) NULL,
	[OldValueId] [int] NULL,
	[NewValueId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsCanceled] [bit] NULL,
	[CanceledDate] [datetime2](7) NULL,
	[IsAlreadyProcessed] [bit] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedReason] [varchar](255) NULL,
	[CurrentStep] [int] NULL,
	[FieldLabel] [varchar](255) NULL,
 CONSTRAINT [PK_DataChangeApprovalRequests] PRIMARY KEY NONCLUSTERED 
(
	[DataChangeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataChangeApprovalSteps]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataChangeApprovalSteps](
	[DataChangeApprovalStepId] [int] IDENTITY(1,1) NOT NULL,
	[DataChangeRequestId] [int] NULL,
	[StepNumber] [int] NULL,
	[RequestedBy] [int] NULL,
	[RequestedDate] [datetime2](7) NULL,
	[NeedApprovalBy] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovalBy] [int] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedReason] [varchar](255) NULL,
 CONSTRAINT [PK_DataChangeApprovalSteps] PRIMARY KEY NONCLUSTERED 
(
	[DataChangeApprovalStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Downloads]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Downloads](
	[DownloadId] [int] IDENTITY(1,1) NOT NULL,
	[DownloadTitle] [varchar](255) NULL,
	[DownloadRequestDate] [datetime2](7) NULL,
	[DownloadPath] [varchar](255) NULL,
	[IsAvailable] [bit] NULL,
	[DownloadEmployeeId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[Category] [varchar](100) NULL,
	[DownloadStatus] [varchar](50) NULL,
	[ErrorMessage] [varchar](500) NULL,
	[IsLock] [bit] NOT NULL,
	[LockedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Downloads] PRIMARY KEY NONCLUSTERED 
(
	[DownloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmergencyContacts]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContacts](
	[EmergencyContactId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[ContactName] [varchar](150) NOT NULL,
	[ContactPhoneNumber] [varchar](20) NULL,
	[ContactRelationType] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[EmergencyContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeFiles]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeFiles](
	[EmployeeFileId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Description] [varchar](400) NULL,
	[FilePath] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeePaySlips]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeePaySlips](
	[EmployeePaySlipId] [int] IDENTITY(1,1) NOT NULL,
	[UploadId] [int] NULL,
	[YearMonth] [varchar](10) NOT NULL,
	[EmployeeId] [int] NULL,
	[EmployeeNumber] [varchar](25) NULL,
	[EmployeeName] [varchar](255) NOT NULL,
	[EmployeeStatus] [varchar](255) NULL,
	[JobPosition] [varchar](255) NULL,
	[GajiPokok] [float] NULL,
	[TunjanganKhususYayasan] [float] NULL,
	[TunjanganJabatan] [float] NULL,
	[DinasTambahan] [float] NULL,
	[UangMakan] [float] NULL,
	[Lembur] [float] NULL,
	[Insentif] [float] NULL,
	[TunjanganPenugasanPenuhWaktu] [float] NULL,
	[JumlahPenghasilan] [float] NULL,
	[PenghasilanBPJSTK] [float] NULL,
	[PenghasilanBPJSKS] [float] NULL,
	[LainLain] [float] NULL,
	[KoreksiGaji] [float] NULL,
	[JumlahPenghasilanBruto] [float] NULL,
	[PphGaji] [float] NULL,
	[PphCicilanThr] [float] NULL,
	[PenghasilanSetelahPajak] [float] NULL,
	[PotonganBPJSTKPemberiKerja] [float] NULL,
	[PotonganBPJSTKPekerja] [float] NULL,
	[PotonganBPJSKSPemberiKerja] [float] NULL,
	[PotonganBPJSKSPekerja] [float] NULL,
	[PotonganKoperasi] [float] NULL,
	[JumlahPotongan] [float] NULL,
	[PotonganLain] [float] NULL,
	[TakeHomePay] [float] NULL,
	[FilePath] [varchar](400) NULL,
	[HasSentEmail] [bit] NULL,
	[IsAvailableForMobile] [bit] NULL,
	[RandomPass] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[EmailSentDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeePaySlipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[OrganizationId] [int] NULL,
	[JobLevelId] [int] NULL,
	[JobPositionId] [int] NULL,
	[EmploymentStatusId] [int] NULL,
	[ManagerId] [int] NULL,
	[ClassId] [int] NULL,
	[UserId] [int] NULL,
	[GradeId] [int] NULL,
	[ZipCodeId] [varchar](10) NULL,
	[PtkpTypeId] [int] NULL,
	[OvertimeSettingId] [int] NULL,
	[EmployeeNumber] [varchar](20) NOT NULL,
	[EmployeeNumberBarcode] [varchar](20) NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[FirstJoinDate] [datetime2](7) NULL,
	[JoinDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[SignDate] [datetime2](7) NULL,
	[IsActive] [bit] NULL,
	[WorkPhone] [varchar](20) NULL,
	[WorkMobile] [varchar](25) NULL,
	[Email] [varchar](50) NULL,
	[BirthPlace] [varchar](50) NULL,
	[BirthDate] [datetime2](7) NULL,
	[Tags] [varchar](50) NULL,
	[JobTitle] [varchar](100) NULL,
	[Gender] [varchar](1) NULL,
	[BloodType] [varchar](10) NULL,
	[MaritalStatusType] [varchar](100) NULL,
	[ReligionType] [varchar](100) NULL,
	[Nik] [varchar](20) NULL,
	[PassportNo] [varchar](25) NULL,
	[PassportExpiredDate] [datetime2](7) NULL,
	[CitizenIdAddress] [varchar](255) NULL,
	[ResidentialAddress] [varchar](255) NULL,
	[BankAccountType] [varchar](100) NULL,
	[BankAccountName] [varchar](100) NULL,
	[BankAccountNumber] [varchar](50) NULL,
	[BankAccountFilePath] [varchar](500) NULL,
	[Npwp] [varchar](20) NULL,
	[BpjsKesehatan] [varchar](50) NULL,
	[BpjsKesehatanDate] [datetime2](7) NULL,
	[BpjsKetenagakerjaan] [varchar](50) NULL,
	[BpjsKetenagakerjaanDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[EmployeeAttendanceLocationId] [int] NULL,
	[IsAllowedForOvertime] [bit] NULL,
	[GajiPokok] [float] NULL,
	[TunjanganKhususYayasan] [float] NULL,
	[TunjanganJabatan] [float] NULL,
	[UangMakanPerHari] [float] NULL,
	[TunjanganPenugasanPenuhWaktu] [float] NULL,
	[PotonganBahtera] [float] NULL,
	[HasRightCutiTahunan] [bit] NULL,
	[EmployeePhotoFilePath] [nvarchar](255) NULL,
	[IsSameAddress] [bit] NULL,
	[LatestEducationLevelType] [varchar](100) NULL,
	[IsMedicalStaff] [bit] NOT NULL,
	[AdditionalBpjsKsDependentsCount] [int] NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSalarySlips]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalarySlips](
	[EmployeeSalarySlipId] [int] IDENTITY(1,1) NOT NULL,
	[UploadId] [int] NULL,
	[YearMonth] [varchar](10) NOT NULL,
	[EmployeeId] [int] NULL,
	[EmployeeNumber] [varchar](25) NULL,
	[EmployeeName] [varchar](255) NOT NULL,
	[EmployeeStatus] [varchar](255) NULL,
	[JobPosition] [varchar](255) NULL,
	[GajiPokok] [float] NULL,
	[TunjanganKhususYayasan] [float] NULL,
	[JumlahPenghasilanTetap] [float] NULL,
	[TunjanganJabatan] [float] NULL,
	[DinasTambahan] [float] NULL,
	[UangMakan] [float] NULL,
	[Lembur] [float] NULL,
	[Insentif] [float] NULL,
	[TunjanganPenugasanPenuhWaktu] [float] NULL,
	[JumlahPenghasilanTidakTetap] [float] NULL,
	[PenghasilanBPJSTK] [float] NULL,
	[PenghasilanBPJSKS] [float] NULL,
	[LainLain] [float] NULL,
	[KoreksiGaji] [float] NULL,
	[JumlahPenghasilan] [float] NULL,
	[PphGaji] [float] NULL,
	[PphCicilanThr] [float] NULL,
	[PenghasilanSetelahPajak] [float] NULL,
	[PotonganBPJSTKPemberiKerja] [float] NULL,
	[PotonganBPJSTKPekerja] [float] NULL,
	[PotonganBPJSKSPemberiKerja] [float] NULL,
	[PotonganBPJSKSPekerja] [float] NULL,
	[PotonganKoperasi] [float] NULL,
	[JumlahPotongan] [float] NULL,
	[PotonganLain] [float] NULL,
	[TakeHomePay] [float] NULL,
	[FilePath] [varchar](400) NULL,
	[HasSentEmail] [bit] NULL,
	[IsAvailableForMobile] [bit] NULL,
	[RandomPass] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[EmailSentDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeSalarySlipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeThrSlips]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeThrSlips](
	[EmployeeThrSlipId] [int] IDENTITY(1,1) NOT NULL,
	[UploadId] [int] NULL,
	[YearMonth] [varchar](10) NOT NULL,
	[EmployeeId] [int] NULL,
	[EmployeeNumber] [varchar](25) NULL,
	[EmployeeName] [varchar](255) NOT NULL,
	[EmployeeStatus] [varchar](255) NULL,
	[JobPosition] [varchar](255) NULL,
	[GajiPokok] [float] NULL,
	[TunjanganKhususYayasan] [float] NULL,
	[TunjanganJabatan] [float] NULL,
	[TunjanganPenugasanPenuhWaktu] [float] NULL,
	[JumlahPenghasilan] [float] NULL,
	[FirstJoinDate] [datetime2](7) NULL,
	[ProportionalThr] [float] NULL,
	[PphThr] [float] NULL,
	[AdjustmentCicilanThr] [float] NULL,
	[TotalThr] [float] NULL,
	[FilePath] [varchar](400) NULL,
	[HasSentEmail] [bit] NULL,
	[IsAvailableForMobile] [bit] NULL,
	[RandomPass] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[EmailSentDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeThrSlipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTransfers]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTransfers](
	[EmployeeTransferId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[EffectiveDate] [datetime2](7) NOT NULL,
	[BranchOldId] [int] NULL,
	[OrganizationOldId] [int] NULL,
	[JobPositionOldId] [int] NULL,
	[JobLevelOldId] [int] NULL,
	[EmploymentStatusOldId] [int] NULL,
	[BranchNewId] [int] NULL,
	[OrganizationNewId] [int] NULL,
	[JobPositionNewId] [int] NULL,
	[JobLevelNewId] [int] NULL,
	[EmploymentStatusNewId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[ManagerOldId] [int] NULL,
	[ManagerNewId] [int] NULL,
	[Reason] [varchar](255) NULL,
	[AttachmentFileName] [varchar](255) NULL,
	[AttachmentFilePath] [varchar](400) NULL,
 CONSTRAINT [PK_EmployeeTransfers] PRIMARY KEY NONCLUSTERED 
(
	[EmployeeTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploymentStatus]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentStatus](
	[EmploymentStatusId] [int] IDENTITY(1,1) NOT NULL,
	[EmploymentStatusName] [varchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_EmploymentStatus] PRIMARY KEY NONCLUSTERED 
(
	[EmploymentStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmploymentStatusHistories]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmploymentStatusHistories](
	[EmploymentStatusHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[EmploymentStatusId] [int] NULL,
	[EmployeeId] [int] NULL,
	[FirstJoinDate] [datetime2](7) NULL,
	[JoinDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[SignDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[OrganizationId] [int] NULL,
	[JobPositionId] [int] NULL,
	[JobLevelId] [int] NULL,
	[ManagerId] [int] NULL,
	[LatestEducationLevelType] [varchar](100) NULL,
 CONSTRAINT [PK_EmploymentStatusHistories] PRIMARY KEY NONCLUSTERED 
(
	[EmploymentStatusHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endpoints]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endpoints](
	[EndpointId] [int] IDENTITY(1,1) NOT NULL,
	[PathRoute] [varchar](500) NOT NULL,
	[Method] [varchar](15) NOT NULL,
	[Description] [text] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Endpoint] PRIMARY KEY CLUSTERED 
(
	[EndpointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Families]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Families](
	[FamilyId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[FamilyName] [varchar](150) NULL,
	[Gender] [varchar](1) NULL,
	[PlaceOfBirth] [varchar](50) NULL,
	[BirthDate] [datetime] NULL,
	[FamilyType] [varchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](100) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[FamilyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormalEducations]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormalEducations](
	[FormalEducationId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[EducationLevelType] [varchar](100) NOT NULL,
	[CertificateNumber] [varchar](100) NULL,
	[Institution] [varchar](255) NULL,
	[Major] [varchar](200) NULL,
	[Score] [varchar](20) NULL,
	[StartYear] [int] NULL,
	[EndYear] [int] NULL,
	[Description] [varchar](1000) NULL,
	[HasCertificate] [bit] NULL,
	[FormalEducationFilePath] [varchar](500) NULL,
	[FormalEducationFileName] [varchar](300) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_FormalEducations] PRIMARY KEY NONCLUSTERED 
(
	[FormalEducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GlobalParameters]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GlobalParameters](
	[ParamId] [int] IDENTITY(1,1) NOT NULL,
	[ParamCode] [varchar](255) NOT NULL,
	[ParamValue] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ParamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ParamCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[GradeCode] [varchar](50) NOT NULL,
	[GradeDescription] [varchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY NONCLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[HolidayId] [int] IDENTITY(1,1) NOT NULL,
	[HolidayName] [varchar](255) NULL,
	[HolidayDate] [datetime2](7) NULL,
	[HolidayDescription] [varchar](500) NULL,
	[IsNationalHoliday] [bit] NULL,
	[IsCompanyHoliday] [bit] NULL,
	[IsSpecialHoliday] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[HolidayYear] [int] NULL,
	[IsMassLeave] [bit] NOT NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY NONCLUSTERED 
(
	[HolidayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inboxs]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inboxs](
	[InboxId] [int] IDENTITY(1,1) NOT NULL,
	[InboxTitle] [varchar](255) NULL,
	[RequestCode] [varchar](20) NULL,
	[CreatedBy] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[InboxEmployeeId] [int] NULL,
	[RequestEmployeeId] [int] NULL,
	[InboxType] [varchar](50) NULL,
	[HasTakeAction] [bit] NULL,
	[StepNumber] [int] NULL,
	[RequestDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Inboxs] PRIMARY KEY NONCLUSTERED 
(
	[InboxId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformalEducations]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformalEducations](
	[InformalEducationId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[EducationName] [varchar](255) NULL,
	[HostedBy] [varchar](255) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[DurationType] [varchar](100) NULL,
	[Duration] [int] NULL,
	[ExpiredDate] [datetime2](7) NULL,
	[EducationFee] [float] NULL,
	[Description] [varchar](1000) NULL,
	[HasCertificate] [bit] NULL,
	[InformalEducationFilePath] [varchar](500) NULL,
	[InformalEducationFileName] [varchar](300) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_InformalEducations] PRIMARY KEY NONCLUSTERED 
(
	[InformalEducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobLevels]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobLevels](
	[JobLevelId] [int] IDENTITY(1,1) NOT NULL,
	[JobLevelName] [varchar](100) NOT NULL,
	[JobLevelOrder] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_JobLevels] PRIMARY KEY NONCLUSTERED 
(
	[JobLevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobPositions]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobPositions](
	[JobPositionId] [int] IDENTITY(1,1) NOT NULL,
	[JobPositionName] [varchar](100) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_JobPositions] PRIMARY KEY NONCLUSTERED 
(
	[JobPositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[UniqueName] [varchar](50) NOT NULL,
	[MenuTitle] [varchar](50) NULL,
	[MenuOrder] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Title] [varchar](255) NULL,
	[Body] [varchar](4000) NULL,
	[ImageBodyPath] [varchar](500) NULL,
	[IsRead] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[NotificationReferenceCode] [varchar](100) NULL,
	[NotificationReferenceValue] [varchar](50) NULL,
	[NotificationJson] [varchar](1000) NULL,
	[EmployeeId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY NONCLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizations]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizations](
	[OrganizationId] [int] IDENTITY(1,1) NOT NULL,
	[OrganizationName] [varchar](200) NOT NULL,
	[ManagerId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Organizations] PRIMARY KEY NONCLUSTERED 
(
	[OrganizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeApprovalRequests]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeApprovalRequests](
	[OvertimeRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NULL,
	[RequestedDate] [datetime2](7) NULL,
	[RequestEmployeeId] [int] NULL,
	[LastApprovalEmployeeId] [int] NULL,
	[ApprovalStatus] [varchar](100) NULL,
	[TotalStep] [int] NULL,
	[Description] [varchar](1000) NULL,
	[OvertimeDate] [datetime2](7) NULL,
	[OvertimeShiftId] [int] NULL,
	[OvertimeShiftBeforeCheckInFrom] [varchar](5) NULL,
	[OvertimeShiftBeforeCheckInTo] [varchar](5) NULL,
	[OvertimeShiftDurationBefore] [varchar](5) NULL,
	[OvertimeShiftOffBefore] [varchar](5) NULL,
	[OvertimeShiftAfterCheckOutFrom] [varchar](5) NULL,
	[OvertimeShiftAfterCheckOutTo] [varchar](5) NULL,
	[OvertimeShiftDurationAfter] [varchar](5) NULL,
	[OvertimeShiftOffAfter] [varchar](5) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsCanceled] [bit] NULL,
	[CanceledDate] [datetime2](7) NULL,
	[IsAlreadyProcessed] [bit] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedReason] [varchar](255) NULL,
	[IsWorkShift] [bit] NULL,
	[OvertimeClockIn] [varchar](10) NULL,
	[OvertimeClockOut] [varchar](10) NULL,
	[OvertimeFullDuration] [varchar](10) NULL,
	[OvertimeShiftOff] [varchar](10) NULL,
	[CurrentStep] [int] NULL,
	[TotalDuration] [varchar](10) NULL,
 CONSTRAINT [PK_OvertimeApprovalRequests] PRIMARY KEY NONCLUSTERED 
(
	[OvertimeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeApprovalSteps]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeApprovalSteps](
	[OvertimeApprovalStepId] [int] IDENTITY(1,1) NOT NULL,
	[OvertimeRequestId] [int] NULL,
	[StepNumber] [int] NULL,
	[RequestedBy] [int] NULL,
	[RequestedDate] [datetime2](7) NULL,
	[NeedApprovalBy] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovalBy] [int] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedReason] [varchar](255) NULL,
	[ApprovedDurationBefore] [varchar](5) NULL,
	[ApprovedDurationAfter] [varchar](5) NULL,
 CONSTRAINT [PK_OvertimeApprovalSteps] PRIMARY KEY NONCLUSTERED 
(
	[OvertimeApprovalStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeMultiplierSettings]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeMultiplierSettings](
	[MultiplierSettingId] [int] IDENTITY(1,1) NOT NULL,
	[OvertimeSettingId] [int] NULL,
	[FromHour] [int] NOT NULL,
	[ToHour] [int] NOT NULL,
	[MultipleBy] [float] NOT NULL,
	[IsWorkingDay] [bit] NULL,
 CONSTRAINT [PK_OvertimeMultiplierSettings] PRIMARY KEY NONCLUSTERED 
(
	[MultiplierSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeRoundingSettings]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeRoundingSettings](
	[OvertimeRoundingSettingId] [int] IDENTITY(1,1) NOT NULL,
	[OvertimeSettingId] [int] NULL,
	[StartMinute] [int] NULL,
	[EndMinute] [int] NULL,
	[RoundMinute] [int] NULL,
 CONSTRAINT [PK_OvertimeRoundingSettings] PRIMARY KEY NONCLUSTERED 
(
	[OvertimeRoundingSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Overtimes]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Overtimes](
	[OvertimeId] [int] IDENTITY(1,1) NOT NULL,
	[OvertimeDateApprove] [datetime2](7) NULL,
	[OvertimeShiftId] [int] NULL,
	[RequestCode] [varchar](20) NULL,
	[OvtSettingId] [int] NULL,
	[OvertimeEmployeeId] [int] NULL,
	[OvertimeDuration] [float] NULL,
	[OvertimePayment] [float] NULL,
	[OvertimeMultiplier] [float] NULL,
	[OvertimeRate] [float] NULL,
	[TotalPayment] [float] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[OvertimeFullDayClockIn] [varchar](10) NULL,
	[OvertimeFullDayClockOut] [varchar](10) NULL,
	[OvertimeFullDayDuration] [varchar](10) NULL,
	[OvertimeFullDayShiftOff] [varchar](10) NULL,
	[IsWorkShift] [bit] NULL,
	[OvertimeBeforeShiftDuration] [varchar](10) NULL,
	[OvertimeBeforeShiftClockFrom] [varchar](10) NULL,
	[OvertimeBeforeShiftClockTo] [varchar](10) NULL,
	[OvertimeBeforeShiftOff] [varchar](10) NULL,
	[OvertimeAfterShiftDuration] [varchar](10) NULL,
	[OvertimeAfterShiftClockFrom] [varchar](10) NULL,
	[OvertimeAfterShiftClockTo] [varchar](10) NULL,
	[OvertimeAfterShiftOff] [varchar](10) NULL,
 CONSTRAINT [PK_Overtimes] PRIMARY KEY NONCLUSTERED 
(
	[OvertimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OvertimeSettings]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OvertimeSettings](
	[OvertimeSettingId] [int] IDENTITY(1,1) NOT NULL,
	[IsRounding] [bit] NULL,
	[OvertimeName] [varchar](200) NULL,
	[IsDefaultCompensation] [bit] NULL,
	[CompensationDivideNumber] [float] NULL,
	[OverrideRupiahPerHour] [float] NULL,
 CONSTRAINT [PK_OvertimeSettings] PRIMARY KEY NONCLUSTERED 
(
	[OvertimeSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perangkat]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perangkat](
	[PerangkatId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[DeviceId] [varchar](100) NULL,
	[DeviceModel] [varchar](100) NULL,
	[DeviceOs] [varchar](100) NULL,
	[IpAddress] [varchar](20) NULL,
	[Location] [varchar](255) NULL,
	[FcmToken] [varchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Perangkat] PRIMARY KEY NONCLUSTERED 
(
	[PerangkatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresensiApprovalSteps]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresensiApprovalSteps](
	[PresensiApprovalStepId] [int] IDENTITY(1,1) NOT NULL,
	[PresensiRequestId] [int] NULL,
	[StepNumber] [int] NULL,
	[RequestedBy] [int] NULL,
	[RequestedDate] [datetime2](7) NULL,
	[NeedApprovalBy] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovalBy] [int] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedReason] [varchar](255) NULL,
 CONSTRAINT [PK_PresensiApprovalSteps] PRIMARY KEY NONCLUSTERED 
(
	[PresensiApprovalStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresensiRequests]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresensiRequests](
	[PresensiRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NULL,
	[RequestedDate] [datetime2](7) NULL,
	[RequestEmployeeId] [int] NULL,
	[LastApprovalEmployeeId] [int] NULL,
	[ApprovalStatus] [varchar](100) NULL,
	[TotalStep] [int] NULL,
	[PresensiDate] [datetime2](7) NULL,
	[ClockIn] [varchar](10) NULL,
	[ClockOut] [varchar](10) NULL,
	[PresensiShiftId] [int] NULL,
	[Description] [varchar](1000) NULL,
	[ClockInRequest] [varchar](10) NULL,
	[ClockOutRequest] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsCanceled] [bit] NULL,
	[CanceledDate] [datetime2](7) NULL,
	[IsAlreadyProcessed] [bit] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedReason] [varchar](255) NULL,
	[CurrentStep] [int] NULL,
 CONSTRAINT [PK_PresensiRequests] PRIMARY KEY NONCLUSTERED 
(
	[PresensiRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [varchar](20) NULL,
	[ProvinceName] [varchar](100) NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY NONCLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PtkpTypes]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PtkpTypes](
	[PtkpTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PtkpCode] [varchar](20) NULL,
	[PtkpName] [varchar](100) NULL,
	[PtkpAmount] [float] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_PtkpTypes] PRIMARY KEY NONCLUSTERED 
(
	[PtkpTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestFiles]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestFiles](
	[RequestFileId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NOT NULL,
	[FileName] [varchar](255) NULL,
	[FilePath] [varchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_RequestFiles] PRIMARY KEY NONCLUSTERED 
(
	[RequestFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPasswords]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswords](
	[ResetPasswordId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Otp] [varchar](20) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[ExpiredDateTime] [datetime] NULL,
	[IsVerify] [bit] NOT NULL,
	[VerifyDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResetPasswordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleEndpoint]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleEndpoint](
	[RoleEndpointId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[EndpointId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_RoleEndpoint] PRIMARY KEY CLUSTERED 
(
	[RoleEndpointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenu]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenu](
	[RoleMenuId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[MenuId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_RoleMenu] PRIMARY KEY CLUSTERED 
(
	[RoleMenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleAssignments]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleAssignments](
	[ScheduleAssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleId] [int] NULL,
	[EmployeeId] [int] NULL,
	[IsActive] [bit] NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_ScheduleAssignments] PRIMARY KEY NONCLUSTERED 
(
	[ScheduleAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchedulePatterns]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchedulePatterns](
	[SchedulePatternId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[ScheduleId] [int] NULL,
	[DayLabel] [int] NULL,
	[WeekDay] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_SchedulePatterns] PRIMARY KEY NONCLUSTERED 
(
	[SchedulePatternId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleName] [varchar](125) NULL,
	[EffectiveDate] [datetime2](7) NULL,
	[IsDefault] [bit] NULL,
	[IsActive] [bit] NULL,
	[IsIgnoreNationalHoliday] [bit] NULL,
	[IsIgnoreSpecialHoliday] [bit] NULL,
	[IsIgnoreCompanyHoliday] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_Schedules] PRIMARY KEY NONCLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchemaVersions]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](255) NOT NULL,
	[Applied] [datetime] NOT NULL,
 CONSTRAINT [PK_SchemaVersions_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftApprovalRequests]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftApprovalRequests](
	[ShiftRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NULL,
	[RequestedDate] [datetime2](7) NULL,
	[RequestEmployeeId] [int] NULL,
	[LastApprovalEmployeeId] [int] NULL,
	[ApprovalStatus] [varchar](100) NULL,
	[TotalStep] [int] NULL,
	[ShiftDate] [datetime2](7) NULL,
	[FromShift] [int] NULL,
	[ToShift] [int] NULL,
	[Reason] [varchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsCanceled] [bit] NULL,
	[CanceledDate] [datetime2](7) NULL,
	[IsAlreadyProcessed] [bit] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedReason] [varchar](255) NULL,
	[CurrentStep] [int] NULL,
 CONSTRAINT [PK_ShiftApprovalRequests] PRIMARY KEY NONCLUSTERED 
(
	[ShiftRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftApprovalSteps]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftApprovalSteps](
	[ShiftApprovalStepId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftRequestId] [int] NULL,
	[StepNumber] [int] NULL,
	[RequestedBy] [int] NULL,
	[RequestedDate] [datetime2](7) NULL,
	[NeedApprovalBy] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovalBy] [int] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedReason] [varchar](255) NULL,
 CONSTRAINT [PK_ShiftApprovalSteps] PRIMARY KEY NONCLUSTERED 
(
	[ShiftApprovalStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftAssignments]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftAssignments](
	[ShiftAssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftId] [int] NULL,
	[ShiftDate] [datetime2](7) NULL,
	[ShiftEmployeeId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[Notes] [varchar](1000) NULL,
	[RequestCode] [varchar](20) NULL,
 CONSTRAINT [PK_ShiftAssignments] PRIMARY KEY NONCLUSTERED 
(
	[ShiftAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shifts]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shifts](
	[ShiftId] [int] IDENTITY(1,1) NOT NULL,
	[ShiftCode] [varchar](50) NULL,
	[ShiftName] [varchar](100) NULL,
	[ShiftInHour] [varchar](10) NULL,
	[ShiftOutHour] [varchar](10) NULL,
	[BreakStart] [varchar](10) NULL,
	[BreakEnd] [varchar](10) NULL,
	[IsShowInRequest] [bit] NULL,
	[IsEnableAttendanceValidation] [bit] NULL,
	[ClockInMinBefore] [int] NULL,
	[ClockOutMaxAfter] [int] NULL,
	[IsEnableDispensation] [bit] NULL,
	[ClockInDispensation] [int] NULL,
	[ClockOutDispensation] [int] NULL,
	[IsWorkShift] [bit] NULL,
	[ShiftColorHex] [varchar](10) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[IsShiftOutHourOverlapDay] [bit] NULL,
 CONSTRAINT [PK_Shifts] PRIMARY KEY NONCLUSTERED 
(
	[ShiftId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StandardReferenceItems]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardReferenceItems](
	[ItemId] [varchar](100) NOT NULL,
	[StandardReferenceId] [varchar](100) NULL,
	[ItemName] [varchar](255) NULL,
	[IsActive] [bit] NULL,
	[Note] [varchar](255) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_StandardReferenceItems] PRIMARY KEY NONCLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StandardReferences]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StandardReferences](
	[StandardReferenceId] [varchar](100) NOT NULL,
	[StandardReferenceName] [varchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_StandardReferences] PRIMARY KEY NONCLUSTERED 
(
	[StandardReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffApprovalRequests]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffApprovalRequests](
	[TimeOffRequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestCode] [varchar](20) NULL,
	[RequestedDate] [datetime2](7) NULL,
	[RequestEmployeeId] [int] NULL,
	[LastApprovalEmployeeId] [int] NULL,
	[ApprovalStatus] [varchar](100) NULL,
	[TotalStep] [int] NULL,
	[TimeOffPolicyCode] [varchar](20) NULL,
	[TimeOffPolicyName] [varchar](100) NULL,
	[TimeOffStartDate] [datetime2](7) NULL,
	[TimeOffEndDate] [datetime2](7) NULL,
	[Reason] [varchar](255) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
	[TimeOffRequestPolicyId] [int] NULL,
	[IsCanceled] [bit] NULL,
	[CanceledDate] [datetime2](7) NULL,
	[IsAlreadyProcessed] [bit] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedReason] [varchar](255) NULL,
	[CurrentStep] [int] NULL,
	[EmployeeDelegateId] [int] NULL,
	[IsUnlimitedBalance] [bit] NULL,
	[RemainingBalance] [int] NULL,
	[TotalTimeOffDays] [int] NULL,
	[IsIncludeDayOff] [bit] NULL,
	[IsSpecialLeave] [bit] NULL,
 CONSTRAINT [PK_TimeOffApprovalRequests] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffApprovalSteps]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffApprovalSteps](
	[TimeOffApprovalStepId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffRequestId] [int] NULL,
	[StepNumber] [int] NULL,
	[RequestedBy] [int] NULL,
	[RequestedDate] [datetime2](7) NULL,
	[NeedApprovalBy] [int] NULL,
	[ApprovalDate] [datetime2](7) NULL,
	[ApprovalBy] [int] NULL,
	[RejectedDate] [datetime2](7) NULL,
	[RejectedBy] [int] NULL,
	[RejectedReason] [varchar](255) NULL,
 CONSTRAINT [PK_TimeOffApprovalSteps] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffApprovalStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffAssignments]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffAssignments](
	[TimeOffAssignmentId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[EmployeeId] [int] NULL,
	[AssignDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TimeOffAssignments] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffAssignmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffBalanceSettings]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffBalanceSettings](
	[TimeOffBalanceId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[FromYos] [int] NOT NULL,
	[ToYos] [int] NOT NULL,
	[BalanceAmount] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TimeOffBalanceSettings] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffBalanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffBalanceSummaries]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffBalanceSummaries](
	[TimeOffBalanceSummaryId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[YearPeriod] [int] NOT NULL,
	[BeginningBalance] [int] NULL,
	[EmployeeId] [int] NULL,
	[Taken] [int] NULL,
	[Expired] [int] NULL,
	[CarryForward] [int] NULL,
	[EndingBalance] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[CarryExpiredMonthDay] [varchar](5) NULL,
	[Adjustment] [int] NULL,
	[IsUnlimitedBalance] [bit] NULL,
	[Notes] [varchar](400) NULL,
 CONSTRAINT [PK_TimeOffBalanceSummaries] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffBalanceSummaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffDelegations]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffDelegations](
	[TimeOffDelegationId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[RequestEmployeeId] [int] NULL,
	[DelegateEmployeeId] [int] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[RestoreDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TimeOffDelegations] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffDelegationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffDetails]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffDetails](
	[TimeOffDetailId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffId] [int] NULL,
	[AttendanceId] [int] NOT NULL,
 CONSTRAINT [PK_TimeOffDetails] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffPolicies]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffPolicies](
	[TimeOffPolicyId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyCode] [varchar](20) NOT NULL,
	[TimeOffPolicyName] [varchar](255) NOT NULL,
	[IsUnlimitedBalance] [bit] NULL,
	[HasMaxDuration] [bit] NULL,
	[MaxDuration] [int] NULL,
	[IsIncludeDayOff] [bit] NULL,
	[EffectiveDate] [datetime2](7) NULL,
	[IsShowInRequest] [bit] NULL,
	[IsAttachmentMandatory] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[IsAnnualLeave] [bit] NULL,
	[IsCarryForward] [bit] NULL,
	[MaxCarryAmount] [int] NULL,
	[IsProrate] [bit] NULL,
	[InitialBalanceAfterWorkForMonths] [int] NULL,
	[ExpiredEveryMonthDay] [varchar](5) NULL,
	[RenewEveryMonthDay] [varchar](5) NULL,
	[IsAssignForNewEmployee] [bit] NULL,
	[AnnualLeaveType] [varchar](50) NULL,
	[IsSpecialLeave] [bit] NULL,
	[IsSumOnRenew] [bit] NULL,
	[ResetBalanceEveryMonthDay] [varchar](5) NULL,
	[CarryForwardEveryMonthDay] [varchar](5) NULL,
 CONSTRAINT [PK_TimeOffPolicies] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffPolicyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffs]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffs](
	[TimeOffId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[EmployeeId] [int] NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[DurationDays] [int] NULL,
	[IsIncludeDayOff] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[DelegateEmployeeId] [int] NULL,
	[RestoreDelegateDate] [datetime2](7) NULL,
	[RequestCode] [varchar](20) NULL,
	[Reason] [varchar](255) NULL,
 CONSTRAINT [PK_TimeOffs] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeOffTransactions]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeOffTransactions](
	[TimeOffTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[TimeOffPolicyId] [int] NULL,
	[TimeOffTransactionCode] [varchar](20) NULL,
	[EmployeeId] [int] NULL,
	[Amount] [int] NULL,
	[TransactionType] [varchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](50) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](50) NULL,
	[Description] [varchar](4000) NULL,
 CONSTRAINT [PK_TimeOffTransactions] PRIMARY KEY NONCLUSTERED 
(
	[TimeOffTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeZones]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeZones](
	[TimeZoneId] [int] IDENTITY(1,1) NOT NULL,
	[TimeZoneName] [varchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_TimeZones] PRIMARY KEY NONCLUSTERED 
(
	[TimeZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uploads]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uploads](
	[UploadId] [int] IDENTITY(1,1) NOT NULL,
	[YearMonth] [varchar](10) NULL,
	[UploadTitle] [varchar](255) NOT NULL,
	[UploadDate] [datetime] NULL,
	[UploadEmployeeId] [int] NULL,
	[UploadStatus] [varchar](50) NULL,
	[UploadFilePath] [varchar](255) NULL,
	[Category] [varchar](100) NULL,
	[ErrorMessage] [varchar](500) NULL,
	[IsLock] [bit] NOT NULL,
	[LockedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UploadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreatedDate] [datetime2](7) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[RefreshToken] [text] NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[ImageFileName] [nvarchar](200) NULL,
	[ImageOriginalFileName] [nvarchar](255) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[LastLoginTime] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperiences]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperiences](
	[WorkExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NULL,
	[CompanyName] [varchar](255) NULL,
	[JobPosition] [varchar](255) NULL,
	[StartMonthYear] [varchar](50) NULL,
	[EndMonthYear] [varchar](50) NULL,
	[CreatedDate] [datetime2](7) NULL,
	[CreatedBy] [varchar](100) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [varchar](100) NULL,
 CONSTRAINT [PK_WorkExperiences] PRIMARY KEY NONCLUSTERED 
(
	[WorkExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZipCodes]    Script Date: 20/10/2025 15:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCodes](
	[ZipCodeId] [varchar](10) NOT NULL,
	[StreetName] [varchar](100) NULL,
	[District] [varchar](50) NOT NULL,
	[County] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[SrProvince] [varchar](20) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[LastUpdateDateTime] [datetime2](7) NULL,
	[LastUpdateByUserId] [varchar](40) NULL,
	[ZipPostalCode] [varchar](10) NULL,
 CONSTRAINT [PK_ZipCodes] PRIMARY KEY NONCLUSTERED 
(
	[ZipCodeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((21)) FOR [CompanyPrevMonthDayPayroll]
GO
ALTER TABLE [dbo].[Company] ADD  DEFAULT ((20)) FOR [CompanyCurrentMonthDayPayroll]
GO
ALTER TABLE [dbo].[Downloads] ADD  DEFAULT ((0)) FOR [IsLock]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_IsMedicalStaff]  DEFAULT ((0)) FOR [IsMedicalStaff]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((0)) FOR [AdditionalBpjsKsDependentsCount]
GO
ALTER TABLE [dbo].[Endpoints] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Endpoints] ADD  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Holidays] ADD  CONSTRAINT [DF_Holidays_IsMassLeave]  DEFAULT ((0)) FOR [IsMassLeave]
GO
ALTER TABLE [dbo].[ResetPasswords] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[ResetPasswords] ADD  DEFAULT ((0)) FOR [IsVerify]
GO
ALTER TABLE [dbo].[RoleEndpoint] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[RoleEndpoint] ADD  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Uploads] ADD  DEFAULT ((0)) FOR [IsLock]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[UserRole] ADD  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysdatetime()) FOR [UpdatedDate]
GO
